.name {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    text-transform: uppercase;
    transform: rotate(-180deg);
    font-size: min(14vh,14vw);
    z-index: 999;
    height: 100%;
}

@media (max-width: 767px) {
    .name {
        writing-mode: initial;
        text-orientation: initial;
        transform: rotate(0);
        height: unset;
        width: 100%;
    }
}