
.slide-enter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(100%);
  opacity: 0.01;
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
  opacity: 1;
  transition: all 500ms ease-out;
}

.slide-leave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0%);
  opacity: 1;
}

.slide-leave.slide-leave-active {
  transform: translateX(-100%);
  opacity: 0.01;
  transition: all 500ms ease-out;
}
