.card {
    margin-bottom: auto;
    margin-top: auto;
    height: fit-content;
    min-height: 60vh;
    color: white;
    background-color: #ffffff33; 
    backdrop-filter: brightness(150%) blur(20px);
    border-radius: 1vh;
}
.image {
    object-fit: cover;
    object-position: left top;

    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
}
.githubButton {
    margin-right: 2vh !important;
    background-color: black;
    border-color: black;
}
.githubButton:hover {
    background-color: #222222 !important;
    border-color: #444444 !important;
}
.githubButton:focus {
    background-color: #222222 !important;
    border-color: #444444 !important;
}
.githubButton:active {
    background-color: #444444 !important;
    border-color: #555555 !important;
}
.title {
    font-size: min(5vh, 9vw);
    margin-bottom: min(1vh, 2vw);
}
.description, .description button {
    font-size: min(2vh, 4vw) !important;
}
.description button svg {
    font-size: min(3vh, 5vw);
}
.cardBody {
    padding: 2vh;
}
.badge {
    margin-right: 1vh;
    padding: 1vh;
    border-radius: .5vh;
    margin-bottom: 1vh;
}
.description p {
    margin-bottom: 1vh;
}
.description button {
    padding: 1vh 2vh;
    border-radius: .5vh;
    margin-bottom: 1vh !important;
}
.description button svg{ 
    margin-right: 2vh !important;
}
@media (max-width: 1199px) {
    .card {
        min-height: 80vh;
    }
    .image {
        height: 30vh;
        border-top-left-radius: 1vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1vh;
    }
}
@media (max-width: 767px) {
    .card {
        margin-bottom: 5vh;
        margin-top: 5vh;
        height: fit-content;
        min-height: unset;
    }
}