.app {
    width: 100vw;
    height: 100vh;
    background-color: #3E1568;
    background-image: url("./static/background.jpg");
    background-size: cover;
    color: white;
    overflow: hidden;
}

.switchWrapper {
    position: relative;
}

.switchWrapper>div {
    position: absolute;
}