html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overscroll-behavior-y: contain;
}

#app {
  flex: 1;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a.with-icon::after {
  content: "\00a0\1F517";
  font-size: 0.5em;
  padding-left: 2px;
  bottom: 2px;
  position: relative;
}